
.header_bar_mobile { display: none; }
.header_bar_mobile_content { display: none; }
.wrap_shadow { display: none; }

/*@media screen and (max-width: 450px) {
	.header_bar_mobile { display: block; width: calc(100% - 40px); height: 50px; line-height: 50px; padding: 0 20px 0 30px; position: fixed; top: 0; background: #333; z-index: 999; }
	.header_bar_mobile h2 { display: block; font-size: 20px; float: left; width: 50%; color: #FFF;}
	.header_bar_mobile .menu { float: right; padding: 10px; width: 30px; height: 30px; transition: all 0.3s; }
	.header_bar_mobile.clicked .menu { transform: rotate(90deg); }
	.header_bar_mobile .menu img { float: left; width: 100%; height: 100%; }

	.header_bar_mobile_content { display: block; width: 200px; height: 100%; right: 0; margin-right: -200px; padding-top: 50px; position: fixed; top: 0; background: #FFF; transform: translateX(0); z-index: 998; }
	.header_bar_mobile_content a { display: block; width: 100%; padding: 0 30px; height: 50px; line-height: 50px; color: #333; }

	.wrap_shadow { display: none; position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.85); z-index: 997; opacity: 0; }
}*/