
/*Internet Explorer用 支援4+*/
/*(要擺第一個)*/
@font-face {
  font-family: agency;
  src: url(../../img/agency.eot); /*不可用 format()*/
}
/*其他瀏覽器用*/
@font-face {
  font-family:agency;
  src:url(../../img/agency.ttf) format("truetype");
}

.wrap{width:100%; position:relative;z-index:9;background: url(../../img/bg.jpg) #fff center center fixed; overflow:hidden;}

/**********************************************************************************************/

.header_bar{width:100%;height:auto;position:fixed;top:0px;left:0px;z-index:9999999; box-shadow:1px 1px 5px rgba(0,0,0,0.7);}
.header_bar .top_box{width:100%;overflow:hidden; height:45px;background:url(../../img/header_bg.jpg) top center ;background-size:cover; }
.header_bar .center_box{width:1100px; margin:0 auto;overflow:hidden;background: #; }
.header_bar .top_box .center_box .logo_box{width:90px;overflow:hidden; height:auto;float:left;margin-top:7px;}
.header_bar .top_box .center_box .logo_box img{width:100%;}

.header_bar .top_box .center_box .right_box{width:800px;overflow:hidden height:auto;float:right; background:#;}
.header_bar .top_box .center_box .right_box .box{float:right; padding:0px 10px;color:#fff; letter-spacing:1px;}
.header_bar .top_box .center_box .right_box .box p{line-height: 45px; font-size:14px;float:left;}
.header_bar .top_box .center_box .right_box .box a{display:block;line-height: 45px; font-size:14px;color:#fff;float:left;margin-right:15px;}
.header_bar .top_box .center_box .right_box .box.user a.icon img{float:left;margin-top:15px;margin-right:8px;}
.header_bar .top_box .center_box .right_box .box.user a.fb img{width:23px;margin-top:10px;}
.header_bar .top_box .center_box .right_box .box.user a.fb{margin-right:0px;}
.header_bar .top_box .center_box .right_box .box.search {margin-top:11px;position: relative;width:150px;background:#fff;border-radius:3px;height:24px; }
.header_bar .top_box .center_box .right_box .box.search input[type=text]{height:20px;padding:2px 0px; border:none;width:130px;font-size: 13px;  }
.header_bar .top_box .center_box .right_box .box.search input[type=submit]{width:30px;height:24px;position:absolute;top:0px;right:0px;
border:none;background:url(../../img/galss-21.png) 50% 50% no-repeat; cursor:pointer; }

.header_bar .nav_box{width:100%;overflow:hidden; height:40px; background:#512b0e;}
.header_bar .nav_box a{line-height:43px;width:120px;margin-left:0px;display: block;float:left;text-align:center;font-weight:100;font-size:15px;letter-spacing:2.5px;color:#c5a46f; }
.header_bar .nav_box a:hover{background:#a06e3c;color:#fff} 
.header_bar .nav_box a.downbox.hover2{background:#a06e3c;color:#fff;}
.header_bar .nav_box a.downbox.hover3{background:#a06e3c;color:#fff;}
.header_bar .nav_box a:nth-of-type(1){margin-left:0px;}


/************************hover_fixed_nav********************************************************/

.hover_fixed_nav{width:100%;min-height:250px;position:absolute;top:85px; background:#a06e3c;display:block;opacity:1; padding-bottom:10px;box-shadow:0px 10px 25px rgba(0,0,0,0.3);z-index:10000;overflow:hidden;display:none;}
.hover_fixed_nav.hover{display:block;opacity:1;position:fixed;z-index:99999;top:85px;left:0px;}
.hover_fixed_nav.inedx_hover{display:block;position:absolute;top:85px;z-index:99999;opacity:1;}


.hover_fixed_nav .hover_arae{width:1080px; margin:0 auto;display:none;overflow:hidden;padding:30px 0px;}
.hover_fixed_nav .hover_arae.hover{display:block;}
.hover_fixed_nav .hover_arae .nav{width:130px;float:left;padding:0px 10px;border-left:1px solid #ad7440;min-height:240px;}
.hover_fixed_nav .hover_arae .nav:nth-of-type(1){border-left:0px;}
.hover_fixed_nav .hover_arae .nav.pic{width:140px;float:left;}
.hover_fixed_nav .hover_arae .nav.pic p{color:#fff;font-family:agency; font-size:20px;letter-spacing:0.5px; margin-bottom:10px;}
.hover_fixed_nav .hover_arae .nav.pic .pic_box{width:100%;}
.hover_fixed_nav .hover_arae .nav .center{width:90%;margin:0 auto; }
.hover_fixed_nav .hover_arae .nav .center h3{color:#fff; font-size:15px;letter-spacing:2px; margin-bottom:10px;}
.hover_fixed_nav .hover_arae .nav .center  a{display:block;color:#ffc166;font-size:14px;letter-spacing:2px;padding:5px 0px;font-weight:300;line-height:140%;}
.hover_fixed_nav .hover_arae .nav .center a:hover{color:#fff;transition:0.3s;-webkit-transition:0.3s;}
.hover_fixed_nav .hover_arae .nav img{width:100%;}


.hover_fixed_nav .line_box{width:100%;height:4px;position:absolute;bottom:0px;left:0px;
    
    background:linear-gradient(left, #895521 20% ,  #b57f45 30% ,  #ca9d45 50% ,  #b57f45 70% , #895521 80%);
	background:-webkit-linear-gradient( left,  #895521 20% ,  #b57f45 30% ,  #ca9d45 50% ,  #b57f45 70% , #895521 80%);
	background: -o-linear-gradient( left,  #895521 20% ,  #b57f45 30% ,  #ca9d45 50% ,  #b57f45 70% , #895521 80%);
	background: -moz-linear-gradient( left,  #895521 20% ,  #b57f45 30% ,  #ca9d45 50% ,  #b57f45 70% , #895521 80%);
	background: -ms-linear-gradient( left,  #895521 20% ,  #b57f45 30% ,  #ca9d45 50% ,  #b57f45 70% , #895521 80%);


}
.wrap_shadow2{width:100%;height:9999px;position:absolute;top:85px;background:rgba(0,0,0,0.5);display:block;opacity:0;transition:opacity 0.3s;-webkit-transition:opacity 0.3s;transform:scale(0);-webkit-transform:scale(0);}
.wrap_shadow2.hover{display:block;z-index:1000;opacity:1;transform:scale(1);-webkit-transform:scale(1);  }


/**********************************************************************************************/

.other_nav{width:100%;overflow:hidden;background: url(../../img/bg.jpg) #fff center center fixed; margin-top:80px;}
.other_nav .center_box{width:1100px;margin:25px auto 30px auto;padding-bottom:15px;overflow:hidden;border-bottom:1px solid #b57f45;}
.other_nav .center_box .logo_box{width:145px;float:left;}
.other_nav .center_box .logo_box img{width:100%;}
.other_nav .center_box .right_nav{float:right; margin-top:32px;overflow:hidden;}
.other_nav .center_box .right_nav a{font-size:15px;color:#999; letter-spacing:1px; padding:0px 10px; border-left:1px solid #999;}
.other_nav .center_box .right_nav a:nth-of-type(1){border-left:0px;}
.other_nav .center_box .right_nav a:hover{color:#b57f45;transition:0.3s;-webkit-transition:0.3s;}




.header_bar_mobile { display: none; }
.header_bar_mobile_content { display: none; }
.wrap_shadow{ display: none; }




/*@media screen and (max-width: 450px) {
	.header_bar_mobile { display: block; width: calc(100% - 40px); height: 50px; line-height: 50px; padding: 0 20px 0 30px; position: fixed; top: 0; background: #333; z-index: 999; }
	.header_bar_mobile h2 { display: block; font-size: 20px; float: left; width: 50%; color: #FFF;}
	.header_bar_mobile .menu { float: right; padding: 10px; width: 30px; height: 30px; transition: all 0.3s; }
	.header_bar_mobile.clicked .menu { transform: rotate(90deg); }
	.header_bar_mobile .menu img { float: left; width: 100%; height: 100%; }

	.header_bar_mobile_content { display: block; width: 200px; height: 100%; right: 0; margin-right: -200px; padding-top: 50px; position: fixed; top: 0; background: #FFF; transform: translateX(0); z-index: 998; }
	.header_bar_mobile_content a { display: block; width: 100%; padding: 0 30px; height: 50px; line-height: 50px; color: #333; }

	.wrap_shadow { display: none; position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.85); z-index: 997; opacity: 0; }
}*/