
.content01{width:1100px; margin:10px auto 0px auto;}

.content01 .right_area{width:850px;overflow:hidden;float:right;background:#; }

.right_area .cycle-slideshow{width:99%; float:right; border:1px solid #b57f45;background:#fff;position:relative;overflow: hidden;height:250px; overflow:hidden;margin-bottom:20px;}
.right_area  .cycle-slideshow .pic_box {display:block;width:100%;height:250px;overflow: hidden;}
.right_area  .cycle-slideshow .pic_box  img{width:101%;overflow: hidden;float:left;}
.right_area  .cycle-slideshow .pic_box .bottom_box{width:100%;padding:8px 0px; background:rgba(0,0,0,0.6);position:absolute;bottom:0px; left:0px;z-index:9999;overflow: hidden;}
.right_area  .cycle-slideshow .pic_box .bottom_box p{width:40%;float:left; margin-left:15px; color:#fff; letter-spacing:2px; font-size:15px;margin-top:5px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden; margin-right:15px; }
.right_area  .cycle-slideshow .pic_box .bottom_box .pirce{float:left;color:#fff; font-size:22px; font-family: agency;letter-spacing:1px; padding-left:10px;border-left:1px solid #ddd;}
.right_area  .cycle-slideshow .pic_box .bottom_box .pirce span{ font-size:12px;}

.right_area .cycle-slideshow .cycle-pager{position:absolute;z-index:900;bottom:0px;right:20px; }
.right_area .cycle-slideshow .cycle-pager span{color:rgba(255,255,255,0.5); font-size:40px;margin:0px 3px;cursor:pointer;}
.right_area .cycle-slideshow .cycle-pager span.cycle-pager-active{color:#fff;}
.right_area .cycle-slideshow .pageControl{position:absolute;z-index:900;top:50%;margin-top:-20px;opacity:0.8;width:25px;cursor:pointer; }
.right_area .cycle-slideshow .pageControl:hover{opacity:1;}
.right_area .cycle-slideshow .pageControl img{width:100%; }
.right_area .cycle-slideshow #prevControl{left:-1px;}
.right_area .cycle-slideshow #nextControl{right:-1px;transform:scaleX(-1);-webkit-transform:scaleX(-1);}

.right_area .select_area {width:100%;overflow:hidden; padding:0px 0px 15px 0px; border-bottom:1px dashed #b57f45; margin-bottom:15px;}
.right_area .select_area .title_box{float:left;overflow:hidden;background:#; position:relative; margin-left:5px; }
.right_area .select_area .title_box h1{float:left;font-size:26px;color:#b57f45;letter-spacing:1px; margin-left:25px;}
.right_area .select_area .title_box img{position:absolute;width:16px; margin-top:8px; margin-right:5px; left:0px;}
.right_area .select_area .select_right_box{float:right;margin-top:5px;padding-top:5px;}
.right_area .select_area .select_right_box  .item{display:block;float:left;margin:0px 5px;font-size:14px;color:#666;font-family:Microsoft YaHei;letter-spacing:1.5px;padding-bottom:5px;}
.right_area .select_area .select_right_box  .item.clicked{color:#b57f45; border-bottom:3px solid #b57f45;}

/*************************商品列表區****************************************/

.item_area{width:110%; min-height:800px;overflow:hidden; margin-left:-10px; margin-top:25px;padding-bottom:30px;background:#;}
.item_area .item{width:270px;float:left;background:#;margin-left:15px; margin-bottom:10px;}
.item_area .item .label_box{width:100%;height:12px;}
.item_area .item .label_box .label{ display:block;float:left;width:55px; margin-left:-6px;position:relative;margin-bottom:-17px; }
.item_area .item .label_box .label:nth-of-type(1){margin-left:6px;z-index:3;}
.item_area .item .label_box .label:nth-of-type(2){z-index:2;}
.item_area .item .label_box .label:nth-of-type(3){z-index:1;}
.item_area .item .border_box{display:block;width:99%;background:#fff; border:1px solid #999;clear:both;box-shadow:1px 1px 5px rgba(0,0,0,0.3);height:375px;overflow:hidden;  }
.item_area .item:hover .border_box{border:1px solid #b57f45;}
.item_area .item .border_box .center_box{width:250px;margin:0 auto; }
.item_area .item .border_box .center_box .pic_box{width:100%;height:250px;margin-top:8px;background:#fff;overflow:hidden;position:relative;margin-bottom:10px;line-height : 215px;white-space:nowrap;}
.item_area .item .border_box .center_box .pic_box img.product_pic{width:100%;vertical-align : middle;}
.item_area .item .border_box .center_box .pic_box .hover_box{width:100%;height:250px;position:absolute;top:0px;left:0px;background:rgba(181,127,69,1);transition:opacity 0.3s;-webkit-transition:opacity 0.3s;transform:translateX(-100%);opacity:0;}
.item_area .item .border_box .center_box .pic_box img.enter_pic{width:40%; display:block;position:absolute;top:50%;left:50%;margin:-10% 0 0 -20%;-webkit-transform:translateY(-500%);transform:translateY(-500%);transition:transform 0.3s;-webkit-transition:transform 0.3s;}
.item_area .item .border_box .center_box .pic_box:hover .hover_box{opacity:0.6;transform:translateX(0%);-webkit-transform:translateX(0%);}
.item_area .item .border_box .center_box .pic_box:hover img.enter_pic{transform:translateY(0%);-webkit-transform:translateY(0%);}
.item_area .item .border_box .center_box .pic_box:after{content: "";height: 100%;display: inline-block; vertical-align: middle;}

.item_area .item .border_box .center_box .text{width:100%;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;font-size:17px;color:#666;letter-spacing:1px;padding-bottom:5px;border-bottom:1px solid #999;text-align:center;font-weight:300;transition:0.3s;-webkit-transition:0.3s;  }
.item_area .item:hover .border_box .center_box .text{color:#b57f45;border-bottom:1px solid #b57f45;}

.item_area .item .border_box .center_box .price_box{width:100%; padding:10px 0px;overflow:hidden;font-family:agency;}
.item_area .item .border_box .center_box .price_box .was{float:left;font-family:agency;text-decoration:line-through;color:#999;font-size:18px;}
.item_area .item .border_box .center_box .price_box .right{float:right;text-align:right;}
.item_area .item .border_box .center_box .price_box .naw{font-family:agency;color:#bc351b;font-size:32px; margin-top:-5px; margin-bottom:3px;}
.item_area .item .border_box .center_box .price_box .naw span{font-family:agency;font-size:18px;}
.item_area .item .border_box .center_box .price_box .member{font-family:agency , Microsoft YaHei ;font-size:18px;color:#bc351b;}
.item_area .item .border_box .center_box .price_box .member span{font-size:15px;}



/************************************頁碼*********************************/

.pageLinks { height:42px; margin:10px auto;overflow:hidden;position:relative;}
.pageLinks .center_links {width:auto; overflow:hidden;float:right;}
.pageLinks a {display:block;width:30px;height:30px; line-height:30px;text-align:center;float:left; font-size:20px; color:#b57f45;font-weight:400;background:#fff; font-family:agency;border:1px solid #b57f45;border-left:0px;}
.pageLinks a:hover {/*background:rgba(230,184,81,0.5);*/}
.pageLinks strong {width:30px;height:30px; line-height:30px;text-align:center;background:#b57f45; font-size:20px;float:left;color:#fff; font-weight:400;font-family:agency;border:1px solid #b57f45;border:1px solid #b57f45;border-left:0px;}
.pageLinks .prev {float:left;}
.pageLinks .prev a {display:block;width:30px;height:30px;line-height:30px;text-align:center;background:url(../../../img/arrow_prev2.png) no-repeat center center #fff; background-size:auto;text-indent:-9999px;border-left:1px solid #b57f45;;}
.pageLinks .next {float:left;}
.pageLinks .next a {display:block;width:30px;height:30px; line-height:30px;text-align:center;background:url(../../../img/arrow_next.png) no-repeat center center #fff; background-size:auto;text-indent:-9999px;border-left:0px;}
.pageLinks .first {float:left;}
.pageLinks .first a {display:block;width:30px;height:30px; line-height:30px;text-align:center;background:url(../../../img/arrow_last.png) no-repeat center center #fff; background-size:auto;text-indent:-9999px; transform:rotate(-180deg);-webkit-transform:rotate(-180deg);}
.pageLinks .last {float:left;}
.pageLinks .last a {display:block;width:30px;height:30px; line-height:30px;text-align:center; background:url(../../../img/arrow_last.png) no-repeat center center #fff; background-size:auto;text-indent:-9999px;border-left:0px;}





/*******************************************************************************************/

.content05{ width: 100%; height:329px ;overflow:hidden; margin-top:30px;}
.content05 .shadow_top{ display:block;width:70%;overflow: hidden;opacity:0.3; height:50px; margin:0 auto;}
.content05 .bg_box{width: 100%; height:300px ;background: url(../../../img/index/slogon_bg.jpg) #fff center center ;background-size:cover; margin-top:-5px;overflow: hidden;}
.content05 .bg_box .center_box{width:800px; margin:90px auto; color:#fff; text-align:center; }
.content05 .bg_box .center_box h2{font-size:40px;font-family:agency;letter-spacing:1px; margin-bottom:20px;}
.content05 .bg_box .center_box p{font-size:17px;letter-spacing:4px; line-height:26px;}












