
.content01 .left_area{width:230px; height:900px;float:left;}
.content01 .left_area .product_list{width:99%;height:auto;background:#fff; border:1px solid #b57f45;position:relative;margin-top:0px; margin-bottom:40px;}
.content01 .left_area .product_list.hot{border:1px solid #f9770d;}
.content01 .left_area .product_list .title_box{width:100%;overflow:hidden;position:absolute;top:-17px; left:50%;margin-left:-70px;}
.content01 .left_area .product_list .title_box .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 17px 17px;
	border-color: transparent transparent #895521 transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #895521 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	float:left;
}
.content01 .left_area .product_list.hot .title_box .triangle{border-color: transparent transparent #cc5700 transparent;}
.content01 .left_area .product_list .title_box .text{width:120px;height:35px;background:#b57f45;line-height:35px;text-align:center; color:#fff; font-size:15px;letter-spacing:2px;float:left;}
.content01 .left_area .product_list.hot .title_box .text{width:120px;background:#f9770d;}

.content01 .left_area .product_list .center_box{width:90%; margin:30px auto 10px auto; letter-spacing:1.5px; }
.content01 .left_area .product_list .center_box .top_nav{width:100%; margin:0px auto 15px auto; }
.content01 .left_area .product_list .center_box .top_nav a{display:block;overflow:hidden; padding:3px 0px;font-size:16px; color:#999;line-height:150%;}
.content01 .left_area .product_list .center_box .top_nav a.top{ color:#b57f45;}
.content01 .left_area .product_list .center_box .top_nav a img{width:40px;float:left; margin-right:10px;}


.content01 .left_area .product_list .center_box .top_nav.news{border-bottom:0px;  }
.content01 .left_area .product_list .center_box .top_nav.news a{color:#999;padding:10px 0px;font-size:13px;border-bottom:1px dashed #999;}
.content01 .left_area .product_list .center_box .top_nav.news a:hover{color:#b57f45;}
.content01 .left_area .product_list .center_box .top_nav.news a span{position:absolute;}
.content01 .left_area .product_list .center_box .top_nav.news a p{margin-left:12px;}
.content01 .left_area .product_list .center_box .top_nav.news  a.button{width:100%;height:25px;line-height:25px;color:#fff;background:#b57f45;border-bottom:0px; margin-top:10px;font-size:16px;text-align:center;}
.content01 .left_area .product_list .center_box .top_nav.news  a.button:hover{background:#d38d46;}


.top_nav .first_class{width:100%; padding:5px 0px; border-top:1px dashed #999;  }
.top_nav .first_class .first_class_title{margin:5px 0px; color:#b57f45;}
.top_nav .first_class .second_class {margin:0px 0px ; color:#666;}
.top_nav .first_class .second_class .third_class{ width:100%;margin:0px 0px;}
.top_nav .first_class .second_class .third_class .second_class_title{ margin-left:15px; padding:5px 0px;position:relative;}
.top_nav .first_class .second_class .third_class .second_class_title p{width:90%;}
.top_nav .first_class .second_class .third_class .second_class_title img{ width:6px;position:absolute; top:10px;right:5px;transition:0.3s;-webkit-transition:0.3s;}
.top_nav .first_class .second_class .third_class .second_class_title img.arrow{transform:rotate(90deg);-webkit-transform:rotate(90deg);}

.top_nav .first_class .second_class .third_class  .a_href_box{ width:90%; margin-left:15px;padding-left:0px; border-left:1px solid #999;margin-top:8px;margin-bottom:8px;overflow:hidden;}
.top_nav .first_class .second_class .third_class  .a_href_box a{ width:95%;line-height:20px;padding:4px 0px 4px 10px;}
.top_nav .first_class .second_class .third_class  .a_href_box a:hover{color:#b57f45;}



















